.impact-page{
    width: 100%;
    background-color: rgb(233, 227, 254);
    gap:100px;
    padding-top: 80px;
}
.impacts{
    width: 100%;
}
.impacts-header h1{
    font-size: 48px;
}
.impacts-container{
    width: 100%;
    justify-content: space-evenly;
}