.logoO{
    width:100%;
    height: 70px;
    width: fit-content;
}
.footer-container{
    background-color:#9EA4DA;
   
}
.footer-content{
    padding: 10px;
    gap:30px;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}
.footer-links{
    gap:5px;
    padding-top: 15px;
}
.footer-links a{
    color: black;
    padding: 2px;
    text-decoration: none;
}
.org-info{
    max-width: 160px;
}
.org-info p{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 14px;
}
.org-info h3{
    padding-left: 15px;
}