.login-page{
    background-color: rgb(242, 242, 242);
}
.login-container{
    width: 100%;
    padding:20px;
    max-width: 350px;
    gap:30px;
}

.top img{
    height:75px;
}
.login-content{
    gap:35px;
    padding:30px;
    width: 100%;
    border: 1px solid black;
    border-color:rgb(194, 200, 208);
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
.content-form{
    gap:15px;
}
.content-form input{
    height:32px;
    padding:10px;
    background-color:transparent;
    border-color:rgb(194, 200, 208);
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
    color:rgb(45, 51, 58);
    outline-color:rgb(45, 51, 58);
    outline-style: none;
    border-radius: 5px;
    margin-bottom: 5px;
}
.content-form span{
    color:rgb(194, 200, 208);
    
}
.login-row{
    align-items: baseline;
    border-bottom: 1px solid rgb(62, 62, 62);
    border-color: gray;
}
.content-top h3{
    font-size: 16px;
}
.content-top div{
    font-size: 12px;
    color:rgb(146, 152, 159);
}
.pwd{
    justify-content: space-between;
}
.pwd input{
    padding-left: 15px;
}
.btn-login button{
    width:100%;
    border: none;
    background-color: var(--color-primary);
    color:var(--color-background);
    border-radius: 5px;
    padding:5px;
}
.btn-login button:hover{
    font-weight: 600;
}
.content-bottom{
    font-size: 14px;
    color:var(--color-primary);
    gap:8px;
}
.forget-pass{
    font-weight: 600;
    cursor: pointer;
}
.return{
    color:blue;    
}