:root {
    --color-primary: #9EA4DA;
    --color-primary-dark: #6d72a3;
    --color-background: #f6f9fd;
    --color-white: #ffffff;
    --color-text-primary: #6d72a3;
    --color-text-secondary: #9EA4DA;
    --color-dark-gray: #383838;
    --font-primary:'Roboto', sans-serif;
  }
button,
input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
input[type="file"] {
  cursor: pointer;
}